.navbar {
  background-color: green;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar h3 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
